{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><h2>영화 평점 남기기</h2></li>
  </ol>
</nav>
<div class="text-right mb-3"><small >많이 평가할수록 더 정확한 영화 추천이 가능합니다.</small>
  <hr style="border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);">


   <!--검색기능-->
  <h5 style="color: gray;">영화 제목으로 검색하기</h5>
  <form action="{% url 'movies:search' %}" method="get">
    <input type="text" name="q" value="{{ q }}" id="search_bar">
  <input type="submit" value="검색" id="search_button">
  </form>
</div>

<br>
<div class="row">
  {% for movie in posts %}
  <div class="cardAll card col-6 col-lg-3 mb-4 p-2" >
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="Card image cap" style="height:320px;">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: 600">{{ movie.title }}</h5>

      <hr style=" 2px yellow;" class="bg-color-danger">

      <span>장르 : </span>
      {% for genres in movie.genres.all %}
        <span class="card-text"> {{ genres.name }}</span>
      {% endfor %}
      <br>
      <!--!!평균점수는 디테일창으로 옮김-->

      <!--보고싶은 영화 누르기 기능-->
      <!--저장완료는 렌더링 해야 바뀜 수정 필요-->
      <div class="mt-3">
      {% if user in movie.like_users.all %}
        <span style="cursor:pointer"><i class="fas fa-plus fa-lg like-button" style="color:crimson" data-id="{{ movie.pk }}" id="clicksave"></i></span>
        <span class="like-word">저장 완료!</span>
      {% else %}
        <span style="cursor:pointer"><i class="fas fa-plus fa-lg like-button" style="color:black" data-id="{{ movie.pk }}" id="click"></i></span>
        <span class="like-word">보고싶어요</span>
      {% endif %}
      </div>
    </div>
    <!--상세보기 클릭-->
    <div class="card-footer bg-white border-top-0">
      <a href="{% url 'movies:detail' movie.pk %} " class="text-decoration-none">
        리뷰 보기
        <img src="{% static "images/zoomin.png" %}" style="height:30px;">
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<hr>



<span>페이지: {{posts.number}}</span>
<span>/</span>
<span>{{posts.paginator.num_pages}}</span>
<br>


<nav aria-label="row Page navigation example ">
  <ul class="pagination justify-content-center mt-3">
    {% if posts.number == 1 %}
    <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last Page</a></li>
    {% elif posts.number == posts.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page=1">First Page</a></li>
    <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page=1">First Page</a></li>
    <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last Page</a></li>
    {% endif %}
  </ul>
</nav>



<script>
  // js로 페이지 렌더 없이 하트 바꾸기
  const likeButtonList = document.querySelectorAll('.like-button')  


  likeButtonList.forEach((likeButton) => { // callback
    likeButton.addEventListener('click', function(event) { // 첫번째 인자 항상 event
      const movieId = event.target.dataset.id
      const temp = event.target
      console.log(temp)

      {% if user.is_authenticated %}

      axios.get(`/movies/${movieId}/like/`)
        .then(response => {
          if (response.data.liked) {
            // 활성화
            event.target.style.color = 'crimson'
            
          } else {
            // 취소
            event.target.style.color = 'black'
          }

        })
        .catch(err => console.log(err))
      {% else %}
        alert('로그인 해주세요')
      {% endif %}

    })
  })



</script>


{% endblock %}


